@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .align-element{
        @apply mx-auto max-w-7xl px-8;
    }
}

  

.website {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin .25s;
    svg {
        /* width: 180px;
        height: 55px;
        position: absolute;
        left: 25%; 
        bottom: 0;*/
        width: 200px;
        height: 65px;
        position: absolute;
        left: 20%;
        bottom: -5px;
        transform: translate(-50%, 7px) translateZ(0);
        fill: none;
        stroke: rgb(139 92 246);
        stroke-linecap: round;
        stroke-width: 2px;
        stroke-dasharray: var(--offset, 69px) 278px;
        stroke-dashoffset: 361px;
        transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
    }
}
.website:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
}